<h2 class="row text-muted justify-content-md-center">CREATE YOUR OWN BRAND AND WEBSITE</h2>


<div class="container spaceTop">
  <div class="row">
    <div class="col">
      <h5>1. Search for the availability of your new brand</h5>
    </div>
  </div>

  <div class="row spaceRows">
    <div class="col">
      <input [(ngModel)]="domainName" id="search-input" type="text" size="30" placeholder="Find your perfect domain name" style="width: 60%"
        pInputText>
      <button id="search-btn" type="button" pButton class="ui-button-raised" label="Search" (click)="isAvailable()"></button>
    </div>
  </div>

  <p-toast position="top-center" key="tc"></p-toast>

  <div class="row spaceRows" *ngIf="available">
    <div class="col">
      Your website is available. We will buy it for you!
    </div>
  </div>

  <div class="row spaceRows" *ngIf="!available">
    <div class="col">
      WEBSITE NOT AVAILABLE please do a new search with a new name.
    </div>
  </div>


  <div class="row spaceRows spaceNum" *ngIf="available">
    <div class="row">
      <div class="col">
        <h5>2. Choose from the pre-determined designs:</h5>
      </div>
      <div>

        <div class="row spacewidth">

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="Extended Reality" label="Extended Reality" [(ngModel)]="design" inputId="opt1"></p-radioButton>
              <img src="assets/img/samp01.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="Underground Vault" label="Underground Vault" [(ngModel)]="design" inputId="opt2"></p-radioButton>
              <img src="assets/img/samp02.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="Cinema Line" label="Cinema Line" [(ngModel)]="design" inputId="opt3"></p-radioButton>
              <img src="assets/img/samp03.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="Gravity" label="Gravity" [(ngModel)]="design" inputId="opt4"></p-radioButton>
              <img src="assets/img/samp04.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

        </div>

        <div class="row spacewidth">

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="Splendid Avenue" label="Splendid Avenue" [(ngModel)]="design" inputId="opt1"></p-radioButton>
              <img src="assets/img/samp05.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="Suspended Pixels" label="Suspended Pixels" [(ngModel)]="design" inputId="opt2"></p-radioButton>
              <img src="assets/img/samp06.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="Poster Wall" label="Poster Wall" [(ngModel)]="design" inputId="opt3"></p-radioButton>
              <img src="assets/img/samp07.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="Elegant Suit" label="Elegant Suit" [(ngModel)]="design" inputId="opt4"></p-radioButton>
              <img src="assets/img/samp08.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

        </div>

        <div class="row spacewidth">

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="Subway Stop" label="Subway Stop" [(ngModel)]="design" inputId="opt1"></p-radioButton>
              <img src="assets/img/samp09.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="Ribbon rampage" label="Ribbon rampage" [(ngModel)]="design" inputId="opt2"></p-radioButton>
              <img src="assets/img/samp010.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="Tough and Still" label="Tough and Still" [(ngModel)]="design" inputId="opt3"></p-radioButton>
              <img src="assets/img/samp011.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="Great Cinema" label="Great Cinema" [(ngModel)]="design" inputId="opt4"></p-radioButton>
              <img src="assets/img/samp012.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

        </div>

        <div class="row spacewidth">

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="Easy Login" label="Easy Login" [(ngModel)]="design" inputId="opt1"></p-radioButton>
              <img src="assets/img/samp013.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="Lucky Numbers" label="Lucky Numbers" [(ngModel)]="design" inputId="opt2"></p-radioButton>
              <img src="assets/img/samp014.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

          <div class="col-3 img">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="King's Hall" label="King's Hall" [(ngModel)]="design" inputId="opt3"></p-radioButton>
              <img src="assets/img/samp015.jpg" class="rounded" alt="SpotiApp" style="width: 14em">
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col">

        <button pButton type="button" label="Continue" class="ui-button-rounded ui-button-success" (click)="nextStep3()"></button>

      </div>
    </div>

  </div>




  <div class="row spaceRows spaceNum " *ngIf="step3">

    <div class="row">
      <div class="col">
        <h5>3. Give Us the theme of your website:</h5>
      </div>
    </div>

    <div class="row spaceTitleRows">

      <div class="col spaceCols" style="width: 50%">
        <div class="row">
          Colors:
        </div>
        <textarea pInputTextarea [(ngModel)]="colorsText"></textarea>
      </div>

      <div class="col spaceCols">
        <div class="row">
          Sports:
        </div>
        <textarea pInputTextarea [(ngModel)]="sportsText"></textarea>
      </div>

      <div class="col spaceCols">
        <div class="row">
          Teams:
        </div>
        <textarea pInputTextarea [(ngModel)]="teamsText"></textarea>
      </div>

    </div>

    <div class="row spaceRows spaceTitle3">
      <div class="col">
        <a (click)="showDialog()">Accept Terms and conditions:</a>
        <p-inputSwitch [(ngModel)]="checkedTerms"></p-inputSwitch>
      </div>
    </div>

    <div class="row spaceRows spaceTitle3">
      <div class="col">
        <label>Please insert an email to receive info on your request:</label>
        <input type="email" [(ngModel)]="email" size="30" style="width: 40%; margin-left: 1%" pInputText>
      </div>
    </div>


    <div class="row spaceRows spaceTitle3">

      <button pButton type="button" label="SUBMIT YOUR REQUEST" class="ui-button-rounded ui-button-success" (click)="submit()"></button>

    </div>



    <p-dialog header="TERMS AND CONDITIONS" [(visible)]="display">
      <pre>

        Once you have submitted your request we will proceed to buy the website.
        If you decide to cancel your request and we have already bought the website, the cost
        will be charged to your PPH account.

        The estimated time of delivery for your website will be of 46 business days. Once the 
        website is ready we will inform the agent and will proceed to put a message in the
        player accounts to inform them that they must start using the new website.

        -There will be a $40 monthly cost charge to your PPH account for webhosting and 
        webdesign charges.
          
      </pre>

      <p-footer>
        <div class="text-center">
          <button type="button" pButton icon="pi pi-check" (click)="checkedTerms=true; display=false;" label="ACCEPT TERMS AND CONDITIONS"></button>
        </div>
      </p-footer>

    </p-dialog>

  </div>



  <div class="row spaceNum">
  </div>


  <footer>
    <div class="row spaceFooter">
      <div class="col">
        <label>***There is a $40 monthly free per website that we'll be charged to your PPH bill</label>
      </div>
    </div>
  </footer>

</div>